<!DOCTYPE html>
<html class="h-full bg-gray-50">
  <head>
    <title>Personality Quiz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="h-full">
    <%= render Notification::FlashMessageComponent.new(flash) %>
    <div class="grid grid-cols-1 md:grid-cols-4 mt-6">
      <div></div>
      <div class="col-start-2 col-span-2"><%= yield %></div>
      <div></div>
    </div>
  </body>
</html>
